# Maven
target/
storage/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Intellij
.idea/
*.iml
*.iws
*.log

# Mac
.DS_Store

# Data
data/
